<!doctype html>
<html lang="en">
  <body>
     <div class="row img">
    <div class="col img" style="background-color:#aaa;">
    <div class="outerDiv">
      <ul class="innerDiv">
        <li class="Home url"><a href="#home">Home</a></li>
        <li class="About url"><a href="#home">About Us</a></li>
        <li class="Destination url"><a href="#home">Destination</a></li>
        <li class="Package url"><a href="#home">Package</a></li>
        <li class="Contacts url"><a href="#home">Contacts</a></li>
      </ul>
      <a href="">
        <ul class="logo">
          <li class="logoImg"><img src="assets/plane 1.png"></li>
          <li class="brandName">VoyageVista</li>
  
        </ul>
      </a>
      </div>
    </div> 
       <!-- <img src="assets/MainBackground.png">  -->
       </div> 



   
     <!-- <div class="row">
    <div class="col">
     <div>Some tags before</div> 
    <div>
     <div style="background-color: rgb(255, 180, 180); width: 200px;">
       <owl-carousel-o [options]="customOptions">
        <ng-template carouselSlide><img src="./assets/Goa.png" width="100px"></ng-template>  
        <ng-template carouselSlide><img src="assets/kerala.png"></ng-template>  
        <ng-template carouselSlide><img src="assets/Manali.png"></ng-template>  
      </owl-carousel-o> 
      </div>
     </div> 
    </div> </div> 
 <div>Some tags after</div>  
    <mat-card>
      <mat-card-content>Simple card</mat-card-content>
    </mat-card>  -->

</body>
</html>
