<!doctype html>
<h3>our trips</h3>
  <owl-carousel-o [options]="customOptions">
    <ng-template carouselSlide>
      <div>
        <div class="goa-container outerContainer">
          <div class="goa">
            <div class="locationName">
              Goa
              <div class="duration">5N/6D</div>
            </div>
            <div class="hotel">
              <div><img src="assets/hotel.png" alt=""></div>
              <div class="hotelDetails">
                <div>1</div>
                <div>Hotel</div>
              </div>
            </div>
            <div class="flight">
              <div><img src="assets/flight.png" alt=""></div>
              <div class="flightDetails">
                <div>2</div>
                <div>Flight</div>
              </div>
            </div>
            <button>Visit</button>
          </div>
          <!-- <img src="assets/Goa.png" alt="Goa"> -->
        </div>
        
      </div>
      
    </ng-template>  
    <ng-template carouselSlide>
      
      <div>
        <div class="kerala-container outerContainer">
          <div class="kerala">
            <div class="locationName">
              Kerala
              <div class="duration">5N/6D</div>
            </div>
            <div class="hotel">
              <div><img src="assets/hotel.png" alt=""></div>
              <div class="hotelDetails">
                <div>1</div>
                <div>Hotel</div>
              </div>
            </div>
            <div class="flight">
              <div><img src="assets/flight.png" alt=""></div>
              <div class="flightDetails">
                <div>2</div>
                <div>Flight</div>
              </div>
            </div>
            <button>Visit</button>
          </div>
          <!-- <img src="assets/Goa.png" alt="Goa"> -->
        </div>
        
      </div>
    
    </ng-template>  
  
    <ng-template carouselSlide>
      <div>
        <div class="manali-container outerContainer">
          <div class="manali">
            <div class="locationName">
              Manali
              <div class="duration">5N/6D</div>
            </div>
            <div class="hotel">
              <div><img src="assets/hotel.png" alt=""></div>
              <div class="hotelDetails">
                <div>1</div>
                <div>Hotel</div>
              </div>
            </div>
            <div class="flight">
              <div><img src="assets/flight.png" alt=""></div>
              <div class="flightDetails">
                <div>2</div>
                <div>Flight</div>
              </div>
            </div>
            <button>Visit</button>
          </div>
          <!-- <img src="assets/Goa.png" alt="Goa"> -->
        </div>
        
      </div>
      
    </ng-template>
  
    <ng-template carouselSlide>
  
      <div>
        <div class="goa-container outerContainer">
          <div class="goa">
            <div>Goa</div>
            <div>Hotel</div>
            <div>Flight</div>
            <div>Visit</div>
          </div>
          <!-- <img src="assets/Goa.png" alt="Goa"> -->
        </div>
        
      </div>
  
    </ng-template>  
    <ng-template carouselSlide>
  
      <div>
        <div class="goa-container outerContainer">
          <div class="goa">
            <div>Goa</div>
            <div>Hotel</div>
            <div>Flight</div>
            <div>Visit</div>
          </div>
          <!-- <img src="assets/Goa.png" alt="Goa"> -->
        </div>
        
      </div>
  
    </ng-template>  
    <ng-template carouselSlide>
  
      <div>
        <div class="goa-container outerContainer">
          <div class="kerala">
            <div>Kerala</div>
            <div>Hotel</div>
            <div>Flight</div>
            <div>Visit</div>
          </div>
          <!-- <img src="assets/Goa.png" alt="Goa"> -->
        </div>
        
      </div>
  
    </ng-template>  
    <ng-template carouselSlide>
  
      <div>
        <div class="goa-container outerContainer">
          <div class="goa">
            <div>Goa</div>
            <div>Hotel</div>
            <div>Flight</div>
            <div>Visit</div>
          </div>
          <!-- <img src="assets/Goa.png" alt="Goa"> -->
        </div>
        
      </div>
  
    </ng-template>  
    <ng-template carouselSlide>
  
      <div>
        <div class="goa-container outerContainer">
          <div class="goa">
            <div>Goa</div>
            <div>Hotel</div>
            <div>Flight</div>
            <div>Visit</div>
          </div>
          <!-- <img src="assets/Goa.png" alt="Goa"> -->
        </div>
        
      </div>
  
    </ng-template>  
    <ng-template carouselSlide>
  
      <div>
        <div class="goa-container outerContainer">
          <div class="goa">
            <div>Goa</div>
            <div>Hotel</div>
            <div>Flight</div>
            <div>Visit</div>
          </div>
          <!-- <img src="assets/Goa.png" alt="Goa"> -->
        </div>
        
      </div>
  
    </ng-template> 
  </owl-carousel-o>